@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    background-color: #5D6D7E;
    margin: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quarterButton{
  background-color: #272727;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 15px;
  left: 92%;
  font-family: "Roboto Mono";
  font-size: .85rem;
  margin: 0em .5em;
}
.quarterButton:hover{
  transition-duration: 0.4s;
  background-color: #fff;
}
.onclick:link{
  text-decoration: none;
  color: #fff;
}
.onclick:visited {
  color: #fff;
}
.onclick:hover{
  transition-duration: 0.4s;
  color: #272727;
}

#clock {
    font-family: sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    font-family: "Roboto Mono";
    color: #fff;
    margin-bottom: .25em;
}

#search {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: none;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 90%;
    padding: .75em 1em;
    box-sizing: border-box;
    background-color: #272727;
    border: solid 0px #272727;
    font-family: "Roboto Mono";
    font-size: 4rem;
    color: #f2f2f2;
    outline: none;
    border-radius: 3px;
    margin-bottom: 1em;
    text-align: center;
}

.weather-container {
    width: 30%;
    background-color: #272727;
    padding: 1em;
    border-radius: 3px;
    font-family: "Roboto Mono";
    color: #fff;
    text-align: center;
}
.inline {
    display: inline-block;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 1em 0em;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }
    #clock {
        margin-top: 1em;
    }
    .container > .bookmark-container {
        flex-direction: column;
        width: 60%;
    }
    .bookmark-container > .bookmark-set {
        width: auto;
        margin: 2em 0em;
    }
}

.bookmark-set{
    padding: 1em;
    background-color: #272727;
    border-radius: 3px;
    font-family: "Roboto Mono";
    font-size: .85rem;
    width: 50%;
    height: 15em;
    margin: 0em .5em;
}
.bookmark-inner-container {
    overflow-y: scroll;
    height: 80%;
    vertical-align: top;
}
.bookmark-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    margin: 0em 0em .35em 0em;
}
.bookmark {
    text-decoration: none;
    color: #8c8c8b;
    display:block;
    margin: .5em 0em;
}
.bookmark:hover {
    color: #fff;
}



/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}
